body {
    margin: 0px;
    z-index: 1;
}

canvas {
    position: relative;
    top: 0px;
}

#textboxContainer {
    position: fixed;
    background-color: #220000;
    border-radius: 50px 0px 0px 50px;
    top: 0px;
    left: 880px;
    width: 400px;
    height: 720px;
    z-index: 2;
}