body {
    margin: 0px;
    z-index: 1;
}

#textboxText {
    position: relative;
    background-color: greenyellow;
    top: 565px;
    left: 50px;
    width: 1180px;
    height: 105px;
    z-index: 2;
}